tetris-game-page {
    position: relative;
    display: grid;
    grid-template-columns: 202px 1fr;
    grid-gap: 20px;
    grid-template-areas:
        'header header'
        'game side';

    h1 {
        grid-area: header;
    }

    main {
        position: relative;
        grid-area: game;
    }

    aside {
        grid-area: side;
    }
}
