@mixin rounded-corners($radius: 5) {
    border-radius: #{$radius}px;
    -moz-border-radius: #{$radius}px;
    -webkit-border-radius: #{$radius}px;
}

@mixin box-shadow($horizontal, $vertical, $blur, $spread, $color, $inset: '') {
    @if $inset == 'inset' {
        -webkit-box-shadow: $inset #{$horizontal}px #{$vertical}px #{$blur}px #{$spread}px $color;
        -moz-box-shadow: $inset #{$horizontal}px #{$vertical}px #{$blur}px #{$spread}px $color;
        box-shadow: $inset #{$horizontal}px #{$vertical}px #{$blur}px #{$spread}px $color;
    } @else {
        -webkit-box-shadow: #{$horizontal}px #{$vertical}px #{$blur}px #{$spread}px $color;
        -moz-box-shadow: #{$horizontal}px #{$vertical}px #{$blur}px #{$spread}px $color;
        box-shadow: #{$horizontal}px #{$vertical}px #{$blur}px #{$spread}px $color;
    }
}

@mixin text-shadow($horizontal, $vertical, $blur, $color) {
    text-shadow: #{$horizontal}px #{$vertical}px #{$blur}px $color;
    filter: dropshadow(color=$color, offx=$horizontal, offy=$vertical);
}

@mixin opacity($value) {
    filter:alpha(opacity=$value*100); /* msie */
    -moz-opacity: $value; /* firefox 1.0 */
    -khtml-opacity: $value; /* webkit */
    opacity: $value; /* css 3 */
}

@mixin simple-vertical-gradient($color1, $color2) {
    background: #{$color1}; /* Old browsers */
    background: -moz-linear-gradient(top, #{$color1} 0%, #{$color2} 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#{$color1}), color-stop(100%,#{$color2})); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #{$color1} 0%,#{$color2} 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #{$color1} 0%,#{$color2} 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #{$color1} 0%,#{$color2} 100%); /* IE10+ */
    background: linear-gradient(top, #{$color1} 0%,#{$color2} 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$color1}', endColorstr='#{$color2}',GradientType=0 ); /* IE6-9 */
}