$white: #fff;
$black: #000;

$blue--black-marlin: #393744;
$yellow--sisal: #C7C7A7;
$green--white-rock: #D9D3B9;
$red--geraldine: #E78866;
$red--kenyan-copper: #6F2F34;

$blue--bunting: #2A324B;
$blue--spindle: #A7BED3;
$blue--midnight-express: #1D1E2C;
$brown--burnt-sienna: #ED6A5A;
$red--pale-rose: #F1DEDE;

$blue--east-bay: #545E75;
$blue--cornflower: #63ADF2;
$blue--sail: #A7CCED;
$blue--blumine: #304D6D;
$blue--cadet: #5FA59B;
